# HW 1

## How to solve these exercises

We use an iPython notebook for all of our exercises. The process is very similar compared to the live coding sessions, but instead of repeating what we do in front of the class we already made a notebook for you that you can complete yourself.

We have classified exercises according to their difficulty as **Basics**, **Medium** and **Involved**. Make sure you do at least the **Basics** exercises for each topic and the **Medium** if you can, but don't worry if you get stuck on the **Involved** ones.

### Problem 4. Strings manipulation

We will now try a few functions from the standard library for strings. Everything you need should be available in the string module.

>**(a)** Find the functions to transform the following string into: lowercase, uppercase, sentence- case (first letter of first word is capitalized).

In [1]:
import string

message = "uSiNg aPPrOpRiAtE cApiTaLISAtiOn iS iMpOrTaNt fOr yOuR rEaDerS' SANity"
lowercased =  message.lower() # Replace me uppercased = '' # Replace me
sentencecased = message.capitalize() # Replace me

print(message + '\n' + lowercased + '\n' + sentencecased)

uSiNg aPPrOpRiAtE cApiTaLISAtiOn iS iMpOrTaNt fOr yOuR rEaDerS' SANity
using appropriate capitalisation is important for your readers' sanity
Using appropriate capitalisation is important for your readers' sanity

>**(b)** Find how to align some text to the left, the right or to the center of a string of known fixed width. This could be useful to align your table in the next problem for example.

In [2]:
#from string import ??
# Question (b)
text = 'align me'
width = 20
stars = '*'*width
text_left   =  text.ljust(20)
text_right  =  text.rjust(20)
text_center =  text.center(20)

print('I want this aligned properly! ' + '\n' + stars + '\n' + text_left + '\n' + 
        text_right + '\n' + text_center + '\n' + stars)

I want this aligned properly!
********************
align me
            align me
      align me
********************

>**Hints:** Read the string module documentation carefully! https://docs.python.org/2/library/string.html Functions sometimes have similar names, but do different things!

In [3]:
#Jaeyoun's hint to the students:
print('{:>30}'.format('right aligned'))
print('{:^30}'.format('center aligned'))
print('{:<30}'.format('left aligned'))

                 right aligned
        center aligned
left aligned

>**(c)** Enforce the correct spelling of Python. It is not “Pyhton”, “python” or “pythons”. (Hint: you can chain multiple function calls: the output of one function can be the input of another one)

In [37]:
# Question (c)
email = "Scientific Programming in Pyhton: The student will be able to write simple programs in pythons."
corrected = '' # Replace me print email + '\n' + corrected

def spellchecker(email):
    mysplit = email.split()
    for i in range(len(mysplit)):
        if mysplit[i] == 'Pyhton:':
            mysplit[i] = 'Python:'
        if mysplit[i] == 'pythons.':
            mysplit[i] = 'Python.'
    corrected_email = " ".join(mysplit)        
    return corrected_email

myreturn = spellchecker(email)
spellchecker(myreturn)

'Scientific Programming in Python: The student will be able to write simple programs in Python.'

In [36]:
#Jaeyoun's hint to the students:
email = "Scientific Programming in Pyhton: The student will be able to write simple programs in pythons."
mysplit = email.split()
print(mysplit)
print(mysplit[3] == 'Pyhton:')
myjoin = " ".join(mysplit)
print(myjoin)

['Scientific', 'Programming', 'in', 'Pyhton:', 'The', 'student', 'will', 'be', 'able', 'to', 'write', 'simple', 'programs', 'in', 'pythons.']
True
Scientific Programming in Pyhton: The student will be able to write simple programs in pythons.

### Problem 5 *Basics*: Alphabet 
In this problem we’ll recap basic list methods, using the alphabet

>**(a)** We’ll first start by making a list each of the upper and lower case letters in the English alphabet:

In [40]:
import string
# your code here
uc = list(string.ascii_uppercase)
lc = list(string.ascii_lowercase)

print(uc)
print(lc)

# The result should look like this:
# uc = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 
#       'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
# lc = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 
#       'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

>**(b)** Blank your full name from both lists, using a ```for``` loop (it's easiest to first concatenate them):

In [45]:
# Jaeyoun's comment from 'Programming HW 1 comments' video 
myname = 'Jeremy Bentham'
full_list = uc + lc
print(full_list)

new_list = [cha_one if cha_one in myname else '*' for cha_one in full_list]
print(new_list)

# Hint: For each item in the list, check whether it is in the name

# The result should look like this if you blank "Jeremy Bentham":
# ['A', '*', 'C', 'D', 'E', 'F', 'G', 'H', 'I', '*', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 
#  'U', 'V', 'W', 'X', 'Y', 'Z', '*', 'b', 'c', 'd', '*', 'f', 'g', '*', 'i', 'j', 'k', 'l', '*', '*', 
#  'o', 'p', 'q', '*', 's', '*', 'u', 'v', 'w', 'x', '*', 'z']

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['*', 'B', '*', '*', '*', '*', '*', '*', '*', 'J', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', 'a', '*', '*', '*', 'e', '*', '*', 'h', '*', '*', '*', '*', 'm', 'n', '*', '*', '*', 'r', '*', 't', '*', '*', '*', '*', 'y', '*']

In [44]:
# Using my real name 
myrealname = 'Chanmi Yoo'
full_list = uc + lc

new_list = [cha if cha in myrealname else '*' for cha in full_list]
print(new_list)

['*', '*', 'C', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', 'Y', '*', 'a', '*', '*', '*', '*', '*', '*', 'h', 'i', '*', '*', '*', 'm', 'n', 'o', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*']

>**(c)** Sort the list and remove the leading blanks:

> Hint: print each letter along with its index; you can then create a new list with a ```slice```

In [ ]:
# The result should look like this:
# blanks_removed = ['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 
#                   'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'b', 'c', 'd', 'f', 'g', 'i', 'j', 'k', 
#                   'l', 'o', 'p', 'q', 's', 'u', 'v', 'w', 'x', 'z']

In [54]:
blanks_removed = []
notstar = [a for a in new_list if a != '*' ]
        
for i in full_list:
    if i not in notstar:
        blanks_removed.append(i)
        
print(blanks_removed)

['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'b', 'c', 'd', 'f', 'g', 'i', 'j', 'k', 'l', 'o', 'p', 'q', 's', 'u', 'v', 'w', 'x', 'z']

### Problem 6 *Medium*: Multiplication Table
In this problem we’ll use for-loops, some lists and control how values are printed on screen, to produce a full multiplication table (from 1 to 12). https://en.wikipedia.org/wiki/Multiplication_table

>**(a)** We’ll first start by creating the multiplication table for the number 2, i.e. what you get when you multiply the numbers from 1 to 12 by 2. Use a for-loop:

In [55]:
max_time = 12
number = 2
# ... Your code here
# times_2 should now be [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [56]:
t2 = []

for i in range(1, max_time+1):
    t2.append(i*2)
    
print(t2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

>**(b)** Now we’ll just format the result so that it looks nicer. Write code to automatically convert times_2 into the following string (separate with spaces):

2 | 2 4 6 8 10 12 14 16 18 20

In [20]:
# Your code here
def make_product_line(number, max_time):
    t2 = []
    t2.append(str(number))
    t2.append('|')
    for i in range(1, max_time+1):
        t2.append(str(i*number))
    return t2

temp = make_product_line(2, 12)
print(temp)

['2', '|', '2', '4', '6', '8', '10', '12', '14', '16', '18', '20', '22', '24']

In [58]:
" ".join(temp)

'2 | 2 4 6 8 10 12 14 16 18 20 22 24'

>**(c)** We’ve actually already generated one line of our full table. You could just copy and paste your code and change the loop to get all the lines from 1 to 12, but you might make a mistake, or you might want to get lines from 1 to 1000. Looking at your code, if you change the <code>number</code> variable it should create the correct line for the value contained in <code>number</code>. So we just have to loop over the values of 1 to 12 for this <code>number</code> variable.
This is called nested loops, and you’ll use nested loops over and over again in your programs. Simply put another loop into your loop (make sure that you give the iterating variable a different name for each loop). What does the following piece of code do? Write down what you think the output would be if <code>max\_time</code> contained the value 4 and then set <code>max\_time</code> to 4 and run this piece of code and make sure you were right.

>**(d)** Using nested loops, create all the lines of the times table, for all numbers between 1 and 12. Use the same format as in part (b). Create two more lines on top to put the label of each column. You should get the following output:

 1 2 3 4 5 6 7 8 9 10 11 12
------------------------------
1 | 1 2 3 4 5 6 7 8 9 10 11 12
2 | 2 4 6 8 10 12 14 16 18 20 22 24
3 | 3 6 9 12 15 18 21 24 27 30 33 36
4 | 4 8 12 16 20 24 28 32 36 40 44 48
5 | 5 10 15 20 25 30 35 40 45 50 55 60
6 | 6 12 18 24 30 36 42 48 54 60 66 72
7 | 7 14 21 28 35 42 49 56 63 70 77 84
8 | 8 16 24 32 40 48 56 64 72 80 88 96
9 | 9 18 27 36 45 54 63 72 81 90 99 108
10 | 10 20 30 40 50 60 70 80 90 100 110 120
11 | 11 22 33 44 55 66 77 88 99 110 121 132
12 | 12 24 36 48 60 72 84 96 108 120 132 144

In [165]:
def make_product_line(number, max_time):
    firstrow = []
    for num in range(1, number+1):
        firstrow.append(str(num))
    firstrow = ' '.join(firstrow)
    print(firstrow + '\n' + '------------------------------')
    
    for num in range(1, number+1):
        t2 = []
        t2.append(str(num)) 
        t2.append('|')
        for i in range(1, max_time+1):
            t2.append(str(num*i))
            t3 = ' '.join(t2)
        
        print(t3)

make_product_line(12,12)

1 2 3 4 5 6 7 8 9 10 11 12
------------------------------
1 | 1 2 3 4 5 6 7 8 9 10 11 12
2 | 2 4 6 8 10 12 14 16 18 20 22 24
3 | 3 6 9 12 15 18 21 24 27 30 33 36
4 | 4 8 12 16 20 24 28 32 36 40 44 48
5 | 5 10 15 20 25 30 35 40 45 50 55 60
6 | 6 12 18 24 30 36 42 48 54 60 66 72
7 | 7 14 21 28 35 42 49 56 63 70 77 84
8 | 8 16 24 32 40 48 56 64 72 80 88 96
9 | 9 18 27 36 45 54 63 72 81 90 99 108
10 | 10 20 30 40 50 60 70 80 90 100 110 120
11 | 11 22 33 44 55 66 77 88 99 110 121 132
12 | 12 24 36 48 60 72 84 96 108 120 132 144

In [32]:
max_time = 10
number = 3

def row(number, max_time):
    pass


def times_table(max_time):
    pass

def print_row(row):
    pass
    
    
def print_header(max_time):
    pass


times_table(16)

>**Hint**: Generate a line for each line, and print it only when it’s complete. You actually do not need to create the intermediate list anymore, you can generate the string for the current line directly

>**(e)** As you can see, our table is not well-aligned. We really need to enforce a minimum “size” used by each number. We can do that easily by putting spaces around the numbers when they are too short. Modify the code for your multiplication table so that the columns of the table it prints are aligned. Hint: the code <code>len(str(n)) == 1</code> will be <code>true</code> if the number contained in the variable n is one digit long.
Correct your code to get the following output:

        1    2    3    4    5    6    7    8    9   10   11   12
    ------------------------------------------------------------------------
 1 |    1    2    3    4    5    6    7    8    9   10   11   12 
 2 |    2    4    6    8   10   12   14   16   18   20   22   24 
 3 |    3    6    9   12   15   18   21   24   27   30   33   36 
 4 |    4    8   12   16   20   24   28   32   36   40   44   48 
 5 |    5   10   15   20   25   30   35   40   45   50   55   60 
 6 |    6   12   18   24   30   36   42   48   54   60   66   72 
 7 |    7   14   21   28   35   42   49   56   63   70   77   84 
 8 |    8   16   24   32   40   48   56   64   72   80   88   96 
 9 |    9   18   27   36   45   54   63   72   81   90   99  108 
10 |   10   20   30   40   50   60   70   80   90  100  110  120 
11 |   11   22   33   44   55   66   77   88   99  110  121  132 
12 |   12   24   36   48   60   72   84   96  108  120  132  144

>**Hint:** Remember the <code>ljust(), rjust()</code> and <code>center()</code>functions!

In [162]:
# Your code here

def tbl(number, max_time):
    firstrow = []
    for num in range(1, number+1):
        firstrow.append(str(num).rjust(4))
    firstrow = ' '.join(firstrow)
    print(firstrow.rjust(64) + '\n' + '------------------------------------------------------------------------'.rjust(76))
    
    for n in range(1, number+1):
        r = "".join(str(n*i).rjust(5) for i in range(1,max_time+1))
        print(str(n).rjust(2) + '|'.rjust(2) + r)

tbl(12, 12)

        1    2    3    4    5    6    7    8    9   10   11   12
    ------------------------------------------------------------------------
 1 |    1    2    3    4    5    6    7    8    9   10   11   12
 2 |    2    4    6    8   10   12   14   16   18   20   22   24
 3 |    3    6    9   12   15   18   21   24   27   30   33   36
 4 |    4    8   12   16   20   24   28   32   36   40   44   48
 5 |    5   10   15   20   25   30   35   40   45   50   55   60
 6 |    6   12   18   24   30   36   42   48   54   60   66   72
 7 |    7   14   21   28   35   42   49   56   63   70   77   84
 8 |    8   16   24   32   40   48   56   64   72   80   88   96
 9 |    9   18   27   36   45   54   63   72   81   90   99  108
10 |   10   20   30   40   50   60   70   80   90  100  110  120
11 |   11   22   33   44   55   66   77   88   99  110  121  132
12 |   12   24   36   48   60   72   84   96  108  120  132  144

### Problem 7. Pascal’s triangle

This is a slight variation on the previous exercise. The goal is to generate [Pascal's Triangle](http://en.wikipedia.org/wiki/Pascal's_triangle):

<p><center><a href="http://commons.wikimedia.org/wiki/File:PascalTriangleAnimated2.gif#mediaviewer/File:PascalTriangleAnimated2.gif"><img src="http://upload.wikimedia.org/wikipedia/commons/0/0d/PascalTriangleAnimated2.gif" alt="PascalTriangleAnimated2.gif"></a></center></p>

The rules to generate the triangle are quite simple:

* Each number is the sum of the two just above it, the above-left and the above-right one. (e.g. 5 on the last line is 1 + 4).
* The top and sides of the triangle are initialised with 1s.

>**(a)** For this exercise, we’ll use a 2D list. This is really just a list of list, think of it like a matrix (or an Excel spreadsheet if you hate matrices). Example of usage:

In [163]:
list_list = [[1], [2, 3], [4, 5]]
list_list[0]
[1]
list_list[0][0]
1
list_list[1][1]
3
list_list[2].append(6)
list_list

[[1], [2, 3], [4, 5, 6]]

>Let’s first start by generating a 2D list with the exact same structure as Pascal’s triangle (we’ll compute the correct values later, let’s fill it up with 1’s for now). We need to generate a list of lists with 1 element in the first list, 2 elements in the second list, 3 on the third list, etc... Modify the following code, using nested loops, to create the correct result:

In [194]:
####
# Pascal's Triangle
#
#  Create and print Pascal's triangle
####

number_lines = 6
# Part (a)
triangle = [[1]]

# Complete the code here
for i in range(1, number_lines-1):
    triangle.append([1 for j in range(i+1)])
print(triangle)

# Should get [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1]]

[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1]]

>**Hint:** remember range iterates up to a variable’s value

>**(b)** Write some code to print your 2D list as a triangle! Where are the above-left and above-right items associated with each element in this view? This is relevant, as it corresponds exactly to accessing the items of your triangle with indices.

1
1 1
1 1 1 
1 1 1 1
1 1 1 1 1

In [250]:
# Your code here
for item in triangle:
    print(' '.join(str(x) for x in item))

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

>**(c)** Now modify your code to get the actual values of Pascal’s triangle. Remember you can access elements you already generated in a previous iteration of the for-loop (e.g. <code>triangle[i-1][j]</code>). You will have to be careful about accessing numbers that do not exist, add if-statements to handle special cases.
(**Hint:** When you try to access the “above-right” element, you can compare i and j to figure out whether or not it exists)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

In [274]:
# Your code here
n = 5
plist = []

for i in range(n):
    temp_list = []
    for j in range(i+1):
        if (j == 0) or (j == i):
            temp_list.append(1)
        else:
            temp_list.append(plist[i-1][j-1] + plist[i-1][j])
    plist.append(temp_list)
    
for item in plist:
    print(' '.join(str(x) for x in item))

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

>**(d)** (advanced) Now modify the code printing your triangle to make it actually look just like the triangle shown at the start of the problem.
You’ll have to adjust the space used by each element again, just like for the times table.

           1            
         1   1          
       1   2   1        
     1   3   3   1      
   1   4   6   4   1    
 1   5   10  10  5   1

In [311]:
# Your code here
n = 6
plist = []

for i in range(n):
    temp_list = []
    for j in range(i+1):
        if (j == 0) or (j == i):
            temp_list.append(1)
        else:
            temp_list.append(plist[i-1][j-1] + plist[i-1][j])
    plist.append(temp_list)

for i in range(n):
    for j in range(n-i-1):
        print(format(" ", "<2"), end="") 
    for j in range(i+1):
        print(format(plist[i][j], "<4"), end = "")
    print()

          1
        1   1
      1   2   1
    1   3   3   1
  1   4   6   4   1
1   5   10  10  5   1